# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
yolov5-env/
venv/
.env/

# Output images & videos
output/
*.jpg
*.jpeg
*.png
*.mp4

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# ONNX cache
*.onnx.cache